<h1>New file</h1>

<%= form_for :file, url: files_path, :method => "GET", :action => :show do |f| %>
	<p>
		<%= f.label :filename %><br>
		<%= f.text_field :filename %>
	</p>
	<p>
		<%= f.label :signature %><br>
		<%= f.text_field :signature %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>
